.section {
  max-width: 984px;
  margin: 92px auto 0;
}

.section__introduction {
  margin: 0 0 40px;
  height: 100%;
  max-width: 830px;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 900;
}

.section__quote {
  max-width: 738px;
  margin: 0;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}

.section__autor {
  text-align: end;
  max-width: 738px;
  margin: 10px 0 32px;
  font-size: 24px;
  font-weight: 400;
}

.section__text {
  margin: 0;
  max-width: 722px;
  line-height: 1.6;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .section {
    margin: 90px 24px 0;
  }

  .section__introduction {
    margin: 0 0 50px;
    font-size: 45px;
  }
}

@media screen and (max-width: 544px) {
  .section {
    margin: 64px 16px;
  }

  .section__introduction {
    margin: 0 0 40px;
    font-size: 32px;
  }
}
