.header {
  padding-top: 34px;
}

.header__logo {
  display: block;
  margin: auto;
}

.header__title {
  max-width: 720px;
  text-align: center;
  margin: 92px auto 32px;
  font-size: 96px;
  line-height: 1.05;
  font-weight: 900;
}

.header__subtitle {
  max-width: 720px;
  margin: 0 auto 64px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}

.header__image {
  width: 100%;
  max-width: 984px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }

  .header__title {
    max-width: 530px;
    margin: 90px auto 25px;
    font-size: 75px;
    line-height: 1.05;
  }

  .header__subtitle {
    margin: 0 auto 30px;
  }

  .content {
    margin: 90px 24px 88px;
  }

  .content__introduction {
    margin: 0 0 50px;
    font-size: 45px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 20px;
  }

  .header__logo {
    max-width: 188px;
  }

  .header__title {
    max-width: 228px;
    margin: 50px auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .header__subtitle {
    max-width: 288px;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }

  .content {
    margin: 64px 16px;
  }

  .content__introduction {
    margin: 0 0 40px;
    font-size: 32px;
  }
}
